@import "tailwindcss";
@import "tw-animate-css";

/* CUSTOM CSS */
@import "./custom/header.css";
@import "./custom/header-dropdown.css";
@import "./custom/custom-cursor.css";

@font-face {
  font-family: 'FubonVF';
  src: url('/fonts/FubonVF.woff') format('woff');
  /* font-weight: normal; */
  font-style: normal;
  font-display: block;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;

  /* FUBON COLORS */
  --color-fubon-primary: var(--fubon-primary);
  --color-fubon-secondary: var(--fubon-secondary);
  --color-fubon-muted: var(--fubon-muted);

  /* PADDING */
  --padding-x: max(5vw, 16px);

  /* FONT SIZE */
  --font-size-h1: clamp(32px, 3.2vw + 16px, 64px);
  --font-size-h2: clamp(28px, 4vw + 12px, 48px);
  --font-size-h3: clamp(24px, 3vw + 10px, 40px);
  --font-size-h4: clamp(22px, 2.5vw + 8px, 32px);
  --font-size-h5: clamp(20px, 2vw + 7px, 28px);
  --font-size-h6: clamp(18px, 1.5vw + 6px, 24px);
  
  /* Для заголовков и описаний компонентов */
  --font-size-heading: clamp(24px, 2.5vw + 10px, 36px);
  --font-size-description: clamp(16px, 0.7vw + 13px, 20px);

  /* BUTTON */
  --button-padding-x: clamp(16px, 2vw + 8px, 32px);
  --button-height: clamp(40px, 3vw + 24px, 56px);
  --button-font-size: clamp(16px, 0.5vw+14px, 18px);

  /* DROPDOWN TEXT */
  --dropdown-text: clamp(24px, 2vw, 32px);
}

:root {
  --font-sans: 'FubonVF', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* FUBON */
  --fubon-primary: oklch(45% 0.3 255);
  --fubon-secondary: oklch(20% 0.02 260);
  --fubon-muted: oklch(91.5% 0.02 265);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /* FUBON */
  --fubon-primary: oklch(45% 0.3 255);
  --fubon-secondary: oklch(20% 0.02 260);
  --fubon-muted: oklch(91.5% 0.02 265);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-[var(--font-sans)] bg-background text-foreground flex flex-col min-h-screen antialiased;
    font-family: var(--font-sans);
  }

  main {
    @apply flex-1;
  }

  h1 {font-size: var(--font-size-h1)}
  h2 {font-size: var(--font-size-h2)}
  h3 {font-size: var(--font-size-h3)}
  h4 {font-size: var(--font-size-h4)}
  h5 {font-size: var(--font-size-h5)}
  h6 {font-size: var(--font-size-h6)}
}

/* CONTAINER
==================================== */

@utility container-fluid {
  @apply px-[var(--padding-x)];
}

/* COMPONENT TEXT
==================================== */

@utility text-h1 {font-size: var(--font-size-h1);}
@utility text-h2 {font-size: var(--font-size-h2);}
@utility text-h3 {font-size: var(--font-size-h3);}
@utility text-h4 {font-size: var(--font-size-h4);}
@utility text-h5 {font-size: var(--font-size-h5);}
@utility text-h6 {font-size: var(--font-size-h6);}

/* COMPONENT HEADING
==================================== */

@utility heading {font-size: var(--font-size-heading);}
@utility description {font-size: var(--font-size-description);}

.heading-wrapper {
  @apply px-[var(--padding-x)];
}

.heading-title {
  @apply text-2xl font-bold leading-tight tracking-tight text-gray-900 mb-4 sm:text-3xl sm:leading-snug sm:mb-5 md:text-4xl md:mb-6 lg:text-5xl lg:leading-tight lg:tracking-normal lg:mb-8 dark:text-gray-100;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}